<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <hr>

    <article>
    <div class="content" ng-controller="articlecontroller" ng-init="display_data()" >

      <div ng-repeat="x in names">

        <img src={{x.nourriture}} alt="" height="350" width="700">



        <p> Nationalité est {{x.race}} </p>
        <p> Famille est {{x.famille}} </p>
        <p> Mon age est {{x.age}} </p>

        <button class="btn btn-danger" ng-click="deleteart(x.id)">Delete</button>
        <hr>
      </div>

      <!-- {% if  user %}
        {% if  art.User == user %} -->
<!--
        <button type"submit" class="btn btn-default" onclick="window.location.href='/articleedit/{{art.id}}'">Edit</button> -->

        <!-- {% endif%}

      {% endif%} -->




      <!-- {% endfor %} -->

      <!-- <hr>
    {% endfor %} -->

    </div>

    </article>
