

<form name="form1"
      role="form" ng-submit="" novalidate >
  <p>Welcome : {{user.email}} </p>
  <div class="form-group">
    <input placeholder="votre email" id="email" required
         ng-model="user.email" type="text" class="form-control">
    </div>
  <div class="form-group">
    <input placeholder="Mote de passe" id="password" required
         ng-model="user.password" type="password" class="form-control">
    </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success" ng-click="login(user)" ng-disabled="form1.$invalid">Connexion</button>
    </div>
    {{msgtxt}}
  </form>
