<div class="" style="margin-left:30px; margin-right:30px;">

  <form action="http://localhost:7000/api/adduser" method="post" >
    <!-- <form ng-controller="userregistercon" ng-submit=""> -->

      <div class="form-group">
        <input placeholder="username" ng-model="registerData.username"  name="username"
        type="text" class="form-control">
      </div>
      <div class="form-group">
        <input placeholder="email" ng-model="registerData.email"  name="email"
        type="text" class="form-control">
      </div>
      <div class="form-group">
        <input placeholder="Mote de passe" ng-model="registerData.password"  name="password"
        type="password" class="form-control">
      </div>
      <div class="form-group">
        <!-- <button type="submit" ng-click="registerSubmit()" class="btn btn-success">ADD</button> -->
        <button type="submit"  class="btn btn-success">ADD</button>
      </div>
    </form>
</div>
